body {
  padding-left: 10px;
  padding-right: 10px;
}


/*-------------------------------
# site-header
-------------------------------*/

.logo-header {
  text-align: center;
}
.logo-brand {
  font-size: 40px;
}


ul.nav > li:first-child a {
  margin: 0;  
}

.carousel-indicators {
  text-orientation: unset;
}
.carousel-inner {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
}
.item {
    position: relative;
    height: 100%;
    min-height: 1px;
    outline: 0;
}
.item:before {
    content: "";
    position: absolute;
    display: block;
    height: 30%;
    width: 100%;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)),color-stop(100%, #000000));
    background: -moz-linear-gradient(rgba(0,0,0,0),#000000);
    background: -webkit-linear-gradient(rgba(0,0,0,0),#000000);
    background: linear-gradient(rgba(0,0,0,0),#000000);
    bottom: 0;
}
.carousel-caption h1 a,
.carousel-caption p{
  color: #fff;
}


/*-------------------------------
# site-content
-------------------------------*/

.content-area {
    padding-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
}
.content-area .col-sm-8 article,
.content-area .col-sm-4 article {
    background: #ffffff;
    margin-top: 20px;
    border: 5px solid #f0f0f0;
    border-radius: 10px;
}
.post-content {
    padding: 0 25px 15px 25px;
}
.post-thumbnail img {
    border-radius: 6px 6px 0 0;
}
.single_post {
  margin-top: 20px;
}

.social-sharing {
    margin-top: 20px;
    margin-bottom: 16px;
    clear: both;
}
.social-sharing ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-sharing li {
    display: inline-block;
    margin: 0 5px 0 0;
}
.social-sharing li a {
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    width: 120px;
    height: 28px;
    text-align: left;
    text-decoration: none;
    line-height: 28px;
    display: block;
    color: #ffffff;
    padding: 0 10px;
    font-weight: bold;

}
.social-sharing li a i {
    font-size: 16px;
    line-height: 28px;
    position: relative;
    z-index: 2;
}

.social-sharing li a span {
    position: relative;
    z-index: 2;
    font-size: 12px;
    float: right;
}

.social-sharing li a:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



.social-sharing .facebook a {
    background-color: rgba(61, 90, 152, 1);
}
.social-sharing .facebook a:before {
    border-top: 70px solid #324A7E;
    border-right: 70px solid transparent;
}
.social-sharing .facebook a:hover:before {
    border-top: 150px solid #324A7E;
    border-right: 186px solid transparent;
}


.social-sharing .twitter a {
    background-color: rgba(9, 176, 237, 1);
}
.social-sharing .twitter a:before {
    border-top: 70px solid #0690C2;
    border-right: 70px solid transparent;
}
.social-sharing .twitter a:hover:before {
    border-top: 150px solid #0690C2;
    border-right: 186px solid transparent;
}

.social-sharing .googleplus a {
    background-color: rgba(209, 71, 53, 1);
}
.social-sharing .googleplus a:before {
    border-top: 70px solid #e75c3c;
    border-right: 70px solid transparent;
}
.social-sharing .googleplus a:hover:before {
    border-top: 150px solid #e75c3c;
    border-right: 186px solid transparent;
}


.social-sharing .pinterest a {
    background-color: rgba(203, 33, 39, 1);
}
.social-sharing .pinterest a:before {
    border-top: 70px solid #AD1B20;
    border-right: 70px solid transparent;
}
.social-sharing .pinterest a:hover:before {
    border-top: 150px solid #AD1B20;
    border-right: 186px solid transparent;
}

.social-sharing .linkedin a {
    background-color: rgba(3, 90, 135, 1);
}
.social-sharing .linkedin a:before {
    border-top: 70px solid #03496E;
    border-right: 70px solid transparent;
}
.social-sharing .linkedin a:hover:before {
    border-top: 150px solid #03496E;
    border-right: 186px solid transparent;
}
/*-------------------------------
# container-footer
-------------------------------*/

.content-footer { 
    background-color: #30c2d6;
    margin-top: 20px;
}

.content-footer h3{
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 10px 0;
}
.carousel-inner img {
    width: 100%; 
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
display: none; 
}
}